.country{
    border: 3px solid #ff0000;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color:  rgb(197, 74, 74);
    color: white;
}
.bungee-regular {
  font-family: "Josefin Sans", sans-serif;
}

.btn{
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-visited{
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;  
}
.btn:hover{
    background-color: rgb(139, 133, 133);
    transition: 0.3s;
}
.country-visited{
    border: 3px solid rgb(120, 255, 120);
    background-color: rgb(22, 188, 22);   
}